@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

$base-font: "Montserrat", sans-serif;

$white: #f5f6fa;
$grey: #718093;
$black: #2f3640;

$opaque-03: rgba(0, 0, 0, 0.3);
$opaque-05: rgba(0, 0, 0, 0.5);
$opaque-08: rgba(0, 0, 0, 0.8);
